h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    color: blue;
    border-bottom: 1px solid grey;
    margin: 10px;
}


.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.quizTitleCard h2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoresBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: 16pt;
    font-weight: bold;
    color: blue;
}

.scoresBtn:hover {
    color: rgb(108, 108, 255);
    cursor: pointer;
}

.container {
    width: 600px;
    max-width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

.resultsContainer {
    width: 600px;
    max-width: 80%;
    height: 300px;
    display: grid;
    justify-content: center;
    align-self: center;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

.resultsContainer h2 {
    display: flex;
    justify-content: center;
}

.highscoreContainer {
    width: 600px;
    max-width: 80%;
    height: 300px;
    display: grid;
    justify-content: center;
    align-self: center;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0 0 3px;
}

.hidden {
    display: none;
}

.timeOutHidden {
    display: none;
}

.questionContainer {
    display: flex;
    justify-content: center;
}

.buttonGrid {
    display: grid;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

.playAgainBtn {
    height: fit-content;
    width: fit-content;
}

.clearScores {
    height: fit-content;
    width: fit-content;
}